**/.ipynb_checkpoints
**/__pycache__
**/delete
**/logs
**/save
**/*.ipynb
**/*copy*
**/*Copy*
2D_sampled/
3D_sampled/
3D_shuffled/
brainageR/
**/old/
utils.py
3D/visualization.py
3D/utils_sm.py
2D/utils_sm.py
2D/visualization.py
2D/utils_sm.py
2D/visualization.py



